<div class="container mt-2">
    <ng-container *ngIf="customers | async as listCustomers; else failureOrLading">
        <div class="card">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <div *ngIf="searchFormGroup">
                    <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
                        <div class="input-group">
                            <label class="input-group-text">Keyword :</label>
                            <input type="text" formControlName="keyword" class="form-control">
                            <button class="btn btn-info">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Transfer request</th>
                            <th>Debit requests</th>
                            <th>Credit request</th>
                            <th>New accounts requests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of customers | async">
                            <td *ngIf="c.role!='ADMIN'">{{c.emailId}}</td>
                            <td *ngIf="c.role!='ADMIN'">
                                <button (click)="handleTransferRequests(c)" class="btn btn-success" style="background-color: rgb(69, 168, 53);">
                                    Transfer
                                </button>
                            </td>
                            <td *ngIf="c.role!='ADMIN'">
                                <button (click)="handleDebitRequests(c)" class="btn btn-success" style="background-color: rgb(106, 100, 166);">
                                    Debit
                                </button>
                            </td>
                            <td *ngIf="c.role!='ADMIN'">
                                <button (click)="handleCreditRequests(c)" class="btn btn-success" style="background-color: rgb(178, 42, 151);">
                                    Credit
                                </button>
                            </td>
                            <td *ngIf="c.role!='ADMIN'">
                                <button (click)="handleNewAccountRequests(c)" class="btn btn-success" style="background-color: rgb(56, 161, 163);">
                                    New accounts
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <ng-template #failureOrLading>
        <ng-container *ngIf="errorMessage; else loading">
            <div class="text-danger">
                {{errorMessage}}
            </div>
        </ng-container>
        <ng-template #loading>
            Loading .....
        </ng-template>
    </ng-template>
</div>