<div class="container mt-2">
    <div class="card">
        <div class="card-header">Details about: "{{customerId}}" new accounts</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Activate</th> 
                        <th>Suspend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of newAccounts">
                        <td id="listacc">{{a.accId}}</td>
                        <td>{{a.balance }}</td>
                        <!-- <td>{{a.amount | number : '1.2-2'}}</td> -->
                        <td>{{a.status}}</td>
                        <td>
                            <button id="{{a.accId}}ACTIVATE" (click)="acceptClick(a)">Activate</button>
                        </td>
                        <td>
                            <button id="{{a.accId}}SUSPEND" (click)="declineClick(a)"><span>Suspend</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>