<div class="container mt-2">
    <div class="card">
        <div class="card-header">Details about: "{{customerId}}" credit operations</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Accept</th>
                        <th>Declined</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let a of creditAccounts">
                        <td id="listacc">{{a.operationId}}</td>
                        <td>{{a.operationDate | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                        <td>{{a.type}}</td>
                        <td>{{a.amount | number : '1.2-2'}}</td>
                        <td>{{a.status}}</td>
                        <td>
                            <button id="{{a.operationId}}ACCEPT" (click)="acceptClick(a)">ACCEPT</button>
                        </td>
                        <td>
                            <button id="{{a.operationId}}DECLINE" (click)="declineClick(a)"><span>DECLINE</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>